################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Libs/cpprest141d_2_10.pdb
/.vs
/App/.vs/App/v15/ipch
/App/x64/Debug
/App/.vs/App/v15
